<?xml version="1.0" ?>
<launch>
  <arg default="$(find my2wbnew_description)/urdf/my2wbnew.xacro" name="model"/>
  <arg default="false" name="gui"/>
  <arg default="$(find my2wbnew_description)/launch/urdf.rviz" name="rvizconfig"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 map odom 100" /> -->
</launch>
